RESOURCE_GROUP= "YOUR-RESOURCE-GROUP-NAME"
ACR_NAME='YOUR-ACR-NAME'
IMAGE_NAME='YOUR-IMAGE-NAME'
TAG_NAME='YOUR-TAG-NAME'
SERVICE_PRINCIPAL_NAME='YOUR-SP-NAME'
LOCATION='brazilsouth'
CONTAINER_NAME='YOUR-CONTAINER-NAME'
DNS_NAME_LABEL='YOUR-DNS-NAME-LABEL'
CPU='0.25'
MEMORY_GB='0.5'
PORT='5000'